body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aaaaaa;
}

header {
    background-color: #a84b0d;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ac4001;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
